<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="Dapper.Contrib" version="1.50.5" targetFramework="net461" />
  <package id="FastMember.Signed" version="1.4.1" targetFramework="net461" />
  <package id="Fody" version="3.2.16" targetFramework="net461" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="2.5.13" targetFramework="net461" />
</packages>